body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: azure;
}

.container {
    border: 5px solid yellow;
    padding: 40px; 
    text-align: center;
    background-color: purple;
    border-radius: 10px; 
    position: relative; 
    width: 400px; 
    height: 300px; 
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 15px 30px; 
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px; 
    position: absolute; 
}

.yes-button {
    background-color: green;
    color: white;
}

.no-button {
    background-color: red;
    color: white;
    transition: transform 0.5s; 
}

